{% extends "polls/base.html" %}

{% block content %}
<div class="logout">
<a href="/logout">Logout</a>
</div>
<section>
<h1>We're hiring! Approach me after the talk &#128522</h1>
</section>
<section>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed nulla ultrices, egestas nisl quis, pharetra ligula. Praesent varius magna tincidunt turpis aliquet mattis. Pellentesque efficitur arcu vitae venenatis tincidunt. Pellentesque ac augue arcu. Aenean et dolor turpis. Vestibulum condimentum sem eget odio scelerisque, id efficitur risus suscipit. Cras felis lacus, ultricies sed sem facilisis, accumsan pharetra neque. Etiam quis odio est. Integer in elit a tortor fermentum rutrum. Integer congue vel metus nec lacinia.
</p>
<p>
Proin cursus quis orci non commodo. Vestibulum rutrum, leo nec facilisis vehicula, massa nulla bibendum nisi, a faucibus purus augue ac arcu. Sed id elit eros. Suspendisse rutrum ex vitae nisl faucibus rutrum. Proin bibendum, urna sit amet pulvinar tincidunt, magna urna sagittis mauris, eu tempor sapien sem at est. Donec sollicitudin sagittis vehicula. Maecenas tincidunt congue suscipit. Aliquam fermentum viverra libero, at luctus orci commodo eu. Donec non euismod neque.
</p>
<p>
Fusce at lorem orci. Proin consectetur nec enim ac vulputate. Duis auctor, nulla sodales hendrerit dignissim, dolor mauris varius metus, non lacinia risus ante vitae mi. Mauris ac tortor ante. Aliquam erat volutpat. Maecenas convallis malesuada justo, ac egestas augue feugiat in. Vestibulum sed libero arcu. Aliquam erat volutpat. Nam et viverra tellus. Ut sit amet nisl quis mi feugiat lobortis at a nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam cursus, purus vitae ultrices tincidunt, augue ante dignissim purus, quis sagittis metus diam sed arcu. Nunc nulla mi, elementum at augue vitae, consectetur commodo massa. Fusce vitae semper tortor.
</p>
<p>
Sed sit amet dolor semper, accumsan neque sit amet, rhoncus sapien. Nunc a nibh non quam placerat tempus quis in ipsum. Aenean at pulvinar eros. Aenean hendrerit urna non commodo viverra. Duis ut sapien et enim pretium consectetur. Quisque iaculis tellus id commodo pellentesque. Mauris eu venenatis metus, at eleifend turpis. Pellentesque at ultricies enim. Sed fringilla, eros in maximus facilisis, erat arcu pretium erat, in molestie turpis dolor eget augue. Pellentesque turpis enim, luctus eu arcu in, laoreet efficitur lorem. Maecenas ornare enim at magna porta rhoncus. Cras arcu dolor, molestie in tempor nec, ullamcorper nec lacus. Quisque sit amet mauris imperdiet, rhoncus mauris a, elementum risus.
</p>
<p>
Nulla ac sem at mauris euismod pretium. Nulla vehicula faucibus quam sit amet ullamcorper. Praesent ex dolor, luctus nec sapien sed, porta volutpat mauris. Quisque mollis eleifend dui in tristique. Nulla vel arcu eget nulla rhoncus euismod. Ut quis auctor tellus. Proin ac enim eget justo laoreet egestas. Vestibulum at cursus ante. Donec efficitur purus nec feugiat ullamcorper. Quisque enim dui, posuere in nisl in, placerat euismod elit. Fusce a odio eleifend, scelerisque lectus in, iaculis elit.
</p>
</section>
{% endblock %}
